.mainBody{
  background-image: url('Assets/background-image.PNG');
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.navbar-item {
    float: right;
}

#bananaTag {
  width: 100%;
}

#inputData{
  padding: 20px;
  height: 190%;
}

#weatherDatabody, #SchedBddy, #StockBody{
  padding: 1rem;
}
.conTP {
  width: 100%;
}
#paragraph3{
  margin-bottom: 20px;
  padding-bottom: 25px;
}

.Heading{
  font-size: 400%;
  font-weight: 500;
}

span{
  color: white;
}
body{
  background-image: url('Assets/bananas/bananas.png');
  background-repeat: repeat;
}

.hideShowBtn{
  margin-top: 20px;
  /* position: fixed; */
  /* bottom: 0; */
  /* vertical-align: bottom; */
  width: 100%;
}

#IG, #LI, #GH {
  margin-top: 0px;
  /* width: 50%; */
  /* vertical-align: bottom; */
}
.card-img-top{
 margin-top: 5px;
}
.footerM {
text-align: center;
background-color: white;
position: static;
width: 100%;
bottom: 0;
padding: 1rem;
}

.hero-body{
  padding: 0rem 1rem;
}

.mainHead {
  font-size: 500%;
  font-family: 'Bebas Neue', cursive;
}


#contact {
  text-align: center;
}

.portBtn {
  width: 100%;  
}

.img-responsive {
  margin-top: 5px;
  margin-bottom: 5px;
}
.boxed {
    
    background-color:white;
    padding: 15px;
  }
#par1 {
  height: 65%;
}
#paragraph2 {
  margin-top: 10px;
  height: 35%;
}

.card-image {
  padding-top: 8px;
  text-align: center;
}
#profilePic {
  width: 90%;
}



.card {
  height: 100%;
  margin: 0 auto;
  float: none;
  margin-bottom: 10px;
}

 h5 {
     
      color: white;
  }

 #pic {
      margin-top: 5px; 
      margin-bottom: 10px;
      
  }

.form-group  {
      padding: 50px;
      text-align: center;
  }

 p {
    font-family: 'Poppins', sans-serif;
    color: black;
  }


 .boxes {
    background-color: white;
    border: rgb(189, 66, 66);
}

h4 {
  text-align: center;
  color: rgb(61, 58, 58);
}

#submit {
  text-align: center;
}
.btn{
      text-align: center;

  }

  #attribute {
      color: black;
      text-align: center;
      font-size: 10px;
  }
  #exampleInputMessage1 {
    height: 100px;
  }

h6 {
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  text-align: center;
}

#smicons {
  margin: 0 auto;
  float: none;
  margin-bottom: 10px;
  
}

.boxText {
  font-size: 120%;
}

.card-text {
      color: black;
      text-align: center;
  }

#page-content {
    flex: 1 0 auto;
  }
  


.col-xs-12 {
    padding:0;
}
@media (max-width : 480px) {
    .mobile_fix {
        padding:0;
    }
    #smicons {
      display:block;
    text-align:center
    }
}
  
 

